.App {
  background-color: #1d1d44;
  margin: -1%;
  margin-bottom: -6%;
  /* background-image: url("D:/react/portfolio/my-portfolio/src/components/images/pbg2.jpg"); */
  background-size: contain;
}
.sides {
  margin-left: 10%;
  margin-right: 10%;
}
@media (max-width: 390px) {
  .App {
    /* margin-right: -69%; */
    width: 178%;
  }
}
